<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxad.online.persistence.PushStatusBarInfoMapper">
	<resultMap id="BaseResultMap" type="com.wxad.online.domain.PushStatusBarInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pushId" property="pushId" jdbcType="INTEGER" />
		<result column="businessType" property="businessType" jdbcType="INTEGER" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="showType" property="showType" jdbcType="INTEGER" />
		<result column="packageName" property="packageName" jdbcType="VARCHAR" />
		<result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
		<result column="iconUrl" property="iconUrl" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="msg" property="msg" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.wxad.online.domain.PushStatusBarInfo">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pushstatusbarinfo
		(pushId,businessType,url,showType,packageName,imageUrl,iconUrl,title,content,msg)
		values (
		#{pushId,jdbcType=INTEGER},
		#{businessType,jdbcType=INTEGER},
		#{url,jdbcType=VARCHAR},
		#{showType,jdbcType=INTEGER},
		#{packageName,jdbcType=VARCHAR},
		#{imageUrl,jdbcType=VARCHAR},
		#{iconUrl,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{msg,jdbcType=VARCHAR})
	</insert>

	<delete id="deleteById">
		delete from pushstatusbarinfo where id=#{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByIds">
		delete from pushstatusbarinfo where id in
		<foreach collection="array" item="ids" open="(" separator=","
			close=")">
			#{ids}
		</foreach>
	</delete>

	<update id="updateByIdSelective" parameterType="com.wxad.online.domain.PushStatusBarInfo">
		update pushstatusbarinfo
		<set>
		    <if test="fn.notEmpty(pushId)">
                pushId=#{pushId,jdbcType=INTEGER},
            </if>
			<if test="fn.notEmpty(businessType)">
				businessType=#{businessType,jdbcType=INTEGER},
			</if>
			<if test="fn.notEmpty(url)">
				url=#{url,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(showType)">
				showType=#{showType,jdbcType=INTEGER},
			</if>
			<if test="fn.notEmpty(packageName)">
				packageName=#{packageName,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(imageUrl)">
				imageUrl=#{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(iconUrl)">
				iconUrl=#{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(title)">
				title=#{title,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(content)">
				content=#{content,jdbcType=VARCHAR},
			</if>
			<if test="fn.notEmpty(msg)">
				msg=#{msg,jdbcType=VARCHAR},
			</if>
		</set>
		where id=#{id,jdbcType=INTEGER}
	</update>

	<sql id="Base_Column_List">
		id,pushId,businessType,url,showType,packageName,imageUrl,iconUrl,title,content,msg
	</sql>
	
	<select id="getByPushId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pushstatusbarinfo where pushId=#{pushId}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pushstatusbarinfo
	</select>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pushstatusbarinfo where id=#{id}
	</select>
	<select id="select" resultMap="BaseResultMap"
		parameterType="com.wxad.online.common.Paginator">
		select
		<include refid="Base_Column_List" />
		from pushstatusbarinfo
		order by id desc limit #{start},#{sqlSize}
	</select>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pushstatusbarinfo where id=#{id}
	</select>
</mapper>
